@import url('https://fonts.googleapis.com/css?family=Nunito:400,600|Roboto:100,300,400|Encode+Sans+Expanded:300');

// Font
$body-font: 'Encode Sans Expanded', sans-serif;
$logo-font: 'Roboto', sans-serif;

// Color
$hepmil-primary: #2F4672;
$hepmil-primary-light: #D0CEE0;

$hepmil-secondary: #5E5E5E;
$hepmil-accent-1: #49A5B2;
$hepmil-accent-2: #AADCDC;
$hepmil-accent-3: #BCE2EC;
$login-background: #282365;
$dashboard-active-background: #E9F0F4;
$content-background: #FAFAFA;

// Button Colors
$button-danger: #F1555E;
$button-call-to-actions: #2171B3;