.hire-wrapper {
  background-color: #0F7DAC;
  padding: 10px;
  color: white;
  text-align: center; }
  .hire-wrapper .hire-questions {
    display: block;
    padding-top: 2%;
    width: 100%; }
  .hire-wrapper .footer {
    color: grey;
    padding-top: 5%; }
